.container {
	display:flex;
	margin:auto auto;
}
	.form {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
}
.row {
	display:flex;
	flex-direction: column;
	margin:0 auto;
}
.row2 {
	display: flex;
	flex-direction: column;
	margin:10vw auto;
	justify-content: space-between;
	align-items: space-between;
}
label {
	display :flex;
	flex-direction: column;
	text-transform:uppercase;

}
input {
	width:100px;
	height:30px;
}
button {
	margin-top: 10px;
	width:100px;
	height:30px;
}
.result {
	width:500px;
	margin:0 auto;
	border:solid;
	padding:10px;
	border-color: black;
}